@media (min-width: 769px) { .container { width: 750px; } }
@media (min-width: 1200px) { .container { width: 1200px; } }
@media (max-width: 768px) { .row { margin: 0; } }
@media (max-width: 768px) { .container { width: auto; padding: 0; }
  .navbar-header { float: none; }
  nav.navbar .navbar-collapse { display: none !important; padding-bottom: 10px; }
  nav.navbar .navbar-collapse.in { display: block !important; } }
@media (max-width: 768px) { .navbar-toggle { display: block; margin-top: 18px; margin-right: 0; } }
@media (max-width: 768px) { .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: 0; margin-left: 0; padding: 0 15px; } }
@media (max-width: 768px) { .navbar-right { float: none !important; margin-right: 0; } }
@media (max-width: 768px) { .navbar-nav > li { float: none; } }
@media (min-width: 769px) { .navbar-toggle { display: none; } }
@media (min-width: 769px) { .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header { margin-right: 0; margin-left: 0; } }
@media (min-width: 769px) { .navbar-right { float: right !important; margin-right: -15px; } }
@media (min-width: 769px) { .navbar-nav > li { float: left; } }
nav.navbar { height: 70px; margin-bottom: 0; border: 0; border-radius: 0; background: #fff; }
nav.navbar .navbar-brand { height: 70px; line-height: 70px; padding: 0; }
nav.navbar .navbar-brand img { vertical-align: middle; display: inline-block; }
@media (max-width: 768px) { nav.navbar .navbar-brand { padding: 0 10px; } }
nav.navbar .navbar-nav > li > a { padding: 0 15px; line-height: 70px; color: #333; }
nav.navbar .navbar-nav > li > a.btn-try { width: 105px; height: 30px; line-height: 30px; background: #00c378; background: linear-gradient(to bottom, #00c777, #1598a8); color: #fff; margin-top: 19px; }
nav.navbar .navbar-nav > li.active > a { color: #00c378; background: linear-gradient(to bottom, #00c777, #00aa83); -webkit-background-clip: text; -webkit-text-fill-color: transparent; }
nav.navbar .navbar-nav { margin-right: -30px; }
@media (max-width: 768px) { nav.navbar .navbar-nav { margin-right: 0; }
  nav.navbar .nav > li { text-align: center; }
  nav.navbar .nav > li a.btn-try { margin: 0 auto; }
  nav.navbar .navbar-collapse { z-index: 30; background: #fff; position: relative; } }

footer .com_info { padding: 76px 0 80px; background: #f2f2f2 url(images/footer-bg.png) no-repeat center top; }
@media (max-width: 768px) { footer .com_info { padding: 38px 0 40px; } }
footer .com_info .tit { font-size: 24px; color: #333; margin-bottom: 20px; }
footer .com_info .tit span { font-size: 14px; }
footer .com_info .cont { color: #666; line-height: 23px; margin-bottom: 10px; }
footer .com_info .info_item { height: 110px; padding: 27px 0; background: #fff; border-radius: 10px; box-shadow: 6px 6px 6px rgba(8, 1, 3, 0.06); text-align: center; margin-bottom: 10px; }
@media (min-width: 768px) and (max-width: 768px) { footer .com_info .info_item { margin-top: 56px; } }
@media (max-width: 375px) { footer .com_info .info_item { padding: 27px 0 27px 20px; text-align: left; } }
footer .com_info .info_item i { display: inline-block; vertical-align: middle; margin-right: 15px; }
footer .com_info .info_item i.icon-skype { background: url(images/icon-skype.png); width: 52px; height: 53px; }
footer .com_info .info_item i.icon-email { background: url(images/icon-email.png); width: 53px; height: 53px; }
@media (min-width: 768px) and (max-width: 992px) { footer .com_info .info_item i { display: block; margin: 0 auto 10px; } }
footer .copy_right { background: #cdcdcd; padding: 10px 0; text-align: center; color: #333; }
footer .copy_right img { height: 32px; vertical-align: middle; }
footer .copy_right span.padding_h_10 { padding: 0 10px; }
@media (max-width: 768px) { footer .copy_right { font-size: 12px; }
  footer .copy_right img { height: 16px; } }

/*# sourceMappingURL=common.css.map */
